body{
  
    padding-top: 15px;

}
.parent-div{
  border: 5px solid black;
  border-radius: 50px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(10, 8, 6);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  padding-top: 70px;

}
.child-div{
     border-radius: 10px;
     background-color:rgb(221, 99, 28);
     padding-top: 30px;
}
h2{
  font-family: unset;
  color: rgb(11, 11, 12);
}
.child2-div{
  border-radius: 10px;
  border: solid black 8px;
  background-color: white;
  padding-top: 20px;
}

.basechild{
  background-color: black;
  border-radius: 20px;
}
.form-group{
  padding: 2px;
  padding-left: 0px;

}
.labelText{
  color: rgb(236, 182, 119);
  text-align:center;
  background-color: black;
  padding: 3px;
  width:100px;
  font-size: 18px;
  font-family:unset;
  
  
}
.form-control{
  background-color: rgb(251, 253, 255);
  border: solid black 2px;

}
.btn{
  margin-inline: 4px;
  width: 80px;
  
}
.btn-num{
  width: 60px;
border:solid black 2px;
margin-bottom: 6px;
background-color: rgb(248, 249, 250);
}
.btn-num:focus{
  background-color: rgb(10, 10, 10);
  color: white;
}
.inputDigits{
  padding-top: 6px;
}
#petrolMainPrice{
  font-weight:600;
  font-size: 20px;
  margin-top:-10px;

  
}
.screen{
  padding:0px;
  margin-bottom:5px;
  height: 30px;
  border:solid black 2px;
  background-color: rgb(247, 247, 247);
  color:rgb(7, 7, 7);
}
